# Folders
models/
datasets/
.venv/
output/
python_learning/
sql/
processed_comments/
processed_comments_d2/
processed_comments_d4/
final_processed_comments/
processed_comments_1/

# Files
*.csv
*.json
*.xlsx
*.parquet
*.dat
*.db
*.sqlite
*.h5
*.hdf5
*.zst

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python


# Jupyter notebooks checkpoints
.ipynb_checkpoints/