# Folders
models/
datasets/
.venv/

# Files
*.csv
*.json
*.xlsx
*.parquet
*.dat
*.db
*.sqlite
*.h5
*.hdf5
*.zst

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter notebooks checkpoints
.ipynb_checkpoints/